@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --spring-primary: #34d399;
  --spring-secondary: #10b981;
  --spring-background: #d1fae5;
  --spring-accent: #6ee7b7;
  --spring-text: #065f46;
  --spring-button: #059669;
  --spring-gradient: linear-gradient(to right, #34d399, #10b981);

  --summer-primary: #fbbf24;
  --summer-secondary: #fb923c;
  --summer-background: #fef3c7;
  --summer-accent: #f59e0b;
  --summer-text: #78350f;
  --summer-button: #f97316;
  --summer-gradient: linear-gradient(to right, #fbbf24, #fb923c);

  --autumn-primary: #f87171;
  --autumn-secondary: #fbbf24;
  --autumn-background: #fbcfe8;
  --autumn-accent: #f59e0b;
  --autumn-text: #1f2937;
  --autumn-button: #dc2626;
  --autumn-gradient: linear-gradient(to right, #f87171, #fbbf24);

  --winter-primary: #60a5fa;
  --winter-secondary: #4c51bf;
  --winter-background: #e0f2fe;
  --winter-accent: #3b82f6;
  --winter-text: #1e3a8a;
  --winter-button: #2563eb;
  --winter-gradient: linear-gradient(to right, #60a5fa, #4c51bf);
}

::placeholder {
  color: black;
}

.main {
  background: url(https://i.ibb.co/1sQXJ4z/page-bg.png);
  height: 100vh;
}

.spfont {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.animate-fall {
  animation: fall linear infinite;
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(4px);
  }
}
